# Ignore everything by default
*

# Allow gitignore itself
!.gitignore

# Project files to publish
!README.md
!dataset.csv
!demo_paper.pdf
!model_comparison_report.txt
!model.ipynb
!project-explanation.md
!requirements.txt
